* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: #212a3e;
}

.form-container {
  background-color: #9ba4b5;
  width: 33rem;
  padding-bottom: 2rem;
  border-radius: 15px;
}

#light .parent-container {
  background-color: rgb(208, 232, 242);
}

#light .form-container {
  background-color: rgb(121, 163, 177);
}

.switch > span {
  margin-right: 5px;
}

.darkmode,
.lightmode {
  margin-top: 4px;
  width: 1.6rem;
  height: 1.7rem;
}

.switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33rem;
  padding: 1rem 1rem 0 0;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

h1,
button,
input {
  user-select: none;
}

input::placeholder {
  font-size: 1rem;
  color: rgb(27, 26, 26);
  font-weight: 700;
}

input {
  width: 25rem;
  height: 3rem;
  margin: 3rem 0 1.3rem 15px;
  border: none;
  background-color: #f1f6f9;
  border-radius: 5px;
  font-size: 1.2rem;
  color: rgb(27, 26, 26);
  font-weight: 700;
  text-indent: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

form > input:focus {
  outline: none;
}

form > button {
  width: 5rem;
  height: 3rem;
  margin-left: 7px;
  border: none;
  background-color: #f1f6f9;
  border-radius: 5px;
}

form {
  margin-bottom: 1.5rem;
}

form > button:hover {
  scale: 1.1;
  color: #394867;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #f1f6f9;
  width: 29rem;
  margin-top: 15px;
  margin-left: 1.7rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  border-radius: 5px;
  word-break: break-all;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.list-item > span {
  flex: 1;
}

.list-item > button {
  height: 2.5rem;
  width: 4.3rem;
}

button {
  font-size: 0.9rem;
  font-weight: 800;
  cursor: pointer;
}

.icons > span {
  margin-left: 8px;
  cursor: pointer;
}

.edit-icon:hover {
  color: #394867;
}

.del-icon:hover {
  color: #394867;
}

@media (max-width: 600px) {
  body {
    background-color: #9ba4b5;
  }

  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #212a3e;
  }

  .form-container {
    background-color: #9ba4b5;
    width: 25rem;
    padding-bottom: 2rem;
    border-radius: 15px;
  }

  #light .parent-container {
    background-color: rgb(208, 232, 242);
  }

  #light .form-container {
    background-color: rgb(121, 163, 177);
  }

  .switch > span {
    margin-right: 3px;
  }

  .darkmode,
  .lightmode {
    margin-top: 5px;
    width: 1.3rem;
    height: 1.2rem;
  }

  .switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25rem;
    padding: 0.5rem 0.5rem 0 0;
  }

  h1 {
    text-align: center;
    margin-top: 2rem;
  }

  h1,
  button,
  input {
    user-select: none;
  }

  input::placeholder {
    font-size: 0.8rem;
    color: rgb(27, 26, 26);
    font-weight: 700;
  }

  input {
    width: 22rem;
    height: 2.2rem;
    margin: 2rem 0 5px 24px;
    border: none;
    background-color: #f1f6f9;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(27, 26, 26);
    font-weight: 700;
    text-indent: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  form > input:focus {
    outline: none;
  }

  form > button {
    width: 10rem;
    height: 1.4rem;
    margin: 0 0 10px 7rem;
    border: none;
    background-color: #f1f6f9;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  form {
    margin-bottom: 0;
  }

  form > button:hover {
    scale: 1.1;
    color: #394867;
  }

  .list-item {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #f1f6f9;
    width: 20rem;
    margin-top: 0.8rem;
    margin-left: 1.7rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    border-radius: 5px;
    word-break: break-all;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .list-item > span {
    flex: 1;
  }

  .list-item > button {
    height: 2.5rem;
    width: 4.3rem;
  }

  button {
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
  }

  .icons > span {
    margin-left: 8px;
    cursor: pointer;
  }

  .edit-icon:hover {
    color: #394867;
  }

  .del-icon:hover {
    color: #394867;
  }
}

@media (max-width: 400px) {
  body {
    background-color: #9ba4b5;
  }

  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #212a3e;
  }

  .form-container {
    background-color: #9ba4b5;
    width: 20rem;
    padding-bottom: 1rem;
    border-radius: 15px;
  }

  #light .parent-container {
    background-color: rgb(208, 232, 242);
  }

  #light .form-container {
    background-color: rgb(121, 163, 177);
  }

  .darkmode,
  .lightmode {
    width: 1rem;
    height: 1.1rem;
  }

  .switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20rem;
    padding: 0.5rem 0.5rem 0 0;
  }

  h1 {
    text-align: center;
    margin-top: 1.2rem;
  }

  h1,
  button,
  input {
    user-select: none;
  }

  input::placeholder {
    font-size: 0.73rem;
    color: rgb(27, 26, 26);
    font-weight: 700;
  }

  input {
    width: 18rem;
    height: 1.8rem;
    margin: 1.2rem 0 5px 15px;
    border: none;
    background-color: #f1f6f9;
    border-radius: 5px;
    font-size: 0.8rem;
    color: rgb(27, 26, 26);
    font-weight: 700;
    text-indent: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  form > input:focus {
    outline: none;
  }

  form > button {
    width: 7rem;
    height: 1.3rem;
    margin-left: 7rem;
    border: none;
    background-color: #f1f6f9;
    border-radius: 5px;
    font-size: 0.67rem;
  }

  form > button:hover {
    scale: 1.1;
    color: #394867;
  }

  .list-item {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #f1f6f9;
    width: 18rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
    padding: 0.4rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    border-radius: 5px;
    word-break: break-all;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .list-item > span {
    flex: 1;
  }

  .list-item > button {
    height: 2.5rem;
    width: 4.3rem;
  }

  button {
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
  }

  .icons > span {
    margin-left: 8px;
    cursor: pointer;
  }

  .edit-icon:hover {
    color: #394867;
  }

  .del-icon:hover {
    color: #394867;
  }
}
